@font-face {
    font-family: poppinsregular;
    src: url(../Fonts/Poppins-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: poppinsmedium;
    src: url(../Fonts/Poppins-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: poppinslight;
    src: url(../Fonts/Poppins-Light.ttf);
    font-weight: normal;
    font-style: normal;
}